{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Диалоговый тренажер</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv=”refresh” content=”30”/>


    <meta name="description" content="Английский диалоговый тренажер"/>
    <base href="/">
    
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    
    <link rel="stylesheet" type="text/css" href="/static/vendors/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script src="/static/vendors/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

    
    <style>
        .text_desc {
            background-color: white;
            color: black;
            padding: 25px;
        }
    </style>

    {% if not DEBUG %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter46422360 = new Ya.Metrika({
                        id:46422360,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        trackHash:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/46422360" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% endif %}




</head>
<body>
<div class="header"> 
<div class="bg-color">
    {% if not user.is_authenticated %}

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding: 20px;text-align: center;width: 100%;margin: 0;">
            <h2 class="bnr-sub-title">
                <span style="color:white;">Тренажер</span> <span style="color:#be9e21;">диалогов</span>
            </h2>
            <p class="logo-dec">Сервис запущен в тестовом режиме. Возможно сбои в работе.</p>
        </div>
    </div><!-- /.container-fluid -->

    {% else %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Диалоги</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><a href="/accounts/logout/?next=/">Выход</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% endif %}



    {% block content %}
    {% endblock %}
</div>
</div>
{% block head_extra %}
{% endblock %}

</body>
</html>
