{% extends "base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
    <div style="max-width: 800px;
    margin: 0 auto;
    color: white;
    text-indent: 30px;
    padding: 30px;">
        <p>Диалоговый тренажер предназначен для развития навыков общения при изучении иностранного языка.</p>
        <p>При изучении иностранного языка важно развивать все четыре базовых навыка владения языком:
            <ul style="list-style-type: initial;text-indent: 0px;">
                <li>чтения </li>
                <li>восприятия на слух</li>
                <li>написание текста</li>
                <li>разговорный навык</li>
            </ul>
        </p>
        <p>Те кто изучает иностранный язык часто сталкиваются с "комплексом" применения разговорного языка на практике. Помните, как в известном фильме "Я иду, шагаю по Москве" - то что говорит иностранец понимаю, перевожу, но вот в ответ сказать ничего не могу".</p>
        <img src="/static/img/lending/moscow.jpg" alt="Я иду шагаю по Москве" class="img-thumbnail" style="">
        <p style="margin-top: 20px;">На текущий момент относительно просто самостоятельно развивать навык чтения и восприятия на слух. Через интернет можно найти любое количество контента для разного уровня знания языка. И для их изучения и развития ученику нужно только желание и время. Настоящей проблемой остается развитие навыков общения, так как для этого нужен партнер для общения. При этом нужно учитывать, что для получения прогресса:
             <ul style="list-style-type: initial;text-indent: 0px;">
                <li>нужно очень много практики с партнером</li>
                <li>партнер должен быть приблизительного на одном с вами уровне владения языком</li>
            </ul>
        </p>
        <p>Периодические уроки с преподавателем по настоящему не могут помочь с развитием навыка общения.Так как для этого нужно очень много практики, а время преподавателей как правило оплачиваемое.</p>
        <p>В интернете существуют сервисы знакомств для общения с целью изучения языка. Проблема их использования заключается в том ,что при удачном поиске - партнерам нужно выбрать тему общения, а это не всегда так просто сделать. Вам нужно потратить уйму времени на поиск заинтересованного партнера, а диалог в конце концов может не получиться. Время будет потрачено зря.</p>

        <p>Эта площадка создана для встреч заинтересованных в приобретении разговорного навыка людей,изучающих английский язык. Укажите при регистрации свой уровень владения языком, и другие пользователи смогут выбрать вас в качестве собеседника с такими же уровнем знания языка как у них, чтобы вам обоим было интересно и комфортно практиковаться в процессе живого общения.</p>
        <p>На сайте будут размещаться готовые диалоги на разнообразные жизненные темы. Вы можете выбирать один или несколько из предложенных диалогов, другие пользователя смогут найти вас в качестве собеседника, который готов поддержать диалог. Вы сможете проговорить вслух все фразы, повторить их столько, сколько считаете нужным. Вы и ваш собеседник обогатите свой словарный запас, применяя знания на практике.</p>

    </div>
    <div style="width: 100%;text-align: center;">
        <a href="/" class="btn btn-default" style="margin: 20px auto;">Вернутся на главную</a>
    </div>
{% endblock %}