<div class="row">
    <div class="container">
        <button *ngIf="activedialog" type="button" class="btn btn-info pull-right" style="margin: 0 20px 20px 20px;" (click)="openChangeDialog()">Сменить текущий диалог</button>
        <div style="margin: 20px;clear: both">
            <div *ngIf="activedialog.dialog && activedialog.dialog.scenario" class="panel panel-primary">
                <div class="panel-heading">
                    Текущий шаг: {{current_step.number}} / {{activedialog.dialog.scenario.steps.length}}
                </div>
                <div *ngIf="current_mode == 2" class="panel-body" style="min-height: 200px;">
                    <h3 style="text-align: center;">Ваш ход</h3>

                    <span>Вам нужно сказать:</span> 
                    <div *ngFor="let item of current_step.variants">
                        <div class="well">
                            <h4 class="text-success">{{item.task}}</h4>
                        </div>
                        <div>
                            <h4 *ngIf="!passed_turns.pupil" class="text-warning" style="text-align: center;">Ход игрока еще не был сделан</h4>
                           
                            <button *ngIf="item.prev_step > 0" class="btn btn-info" type="button" (click)="nextStep(item.prev_step)">Назад</button>
                            
                            <button class="btn btn-warning" type="button" (click)="pupilTurn()">Ход игрока</button>

                            <button *ngIf="hasNextTurn(item)" class="btn btn-success pull-right" type="button" (click)="nextStep(item.next_step)">Следуюйщий шаг</button>
                        </div>

                        <h2 *ngIf="!hasNextTurn(item)" class="text-warning" style="text-align: center;">Это последний шаг диалога</h2>
                        

                        <div style="margin-top:40px">
                            <button *ngIf="!item.words || (item.words && item.words.length == 0)" class="btn btn-info btn-xs" type="button" (click)="getWords(item)">Посмотреть слова</button>
                             <button *ngIf="item.words && item.words.length > 0" class="btn btn-info btn-xs" type="button" (click)="clearWords(item)">Скрыть слова</button>
                            <button *ngIf="!item.hints"  class="btn btn-default btn-xs" type="button" (click)="getHints(item)">Посмотреть подсказку</button>
                            <button *ngIf="item.hints" class="btn btn-default btn-xs" type="button" (click)="clearHints(item)">Убрать подсказку</button>
                        </div>

                        <div *ngIf="item.words && item.words.length > 0" 
                            style="margin-top:20px;display: flex;justify-content: center;flex-wrap: wrap;">
                            <span *ngFor="let item of item.words" class="label label-success" style="margin: 10px;padding: 10px;font-size: 16px;">{{item}}</span>
                        </div>
                        <div *ngIf="item.hints" style="margin-top:20px;">
                            <p class="alert alert-success" style="margin: 5px 0;">
                                {{item.hints}}
                            </p>
                        </div>
                    </div> 
                </div>
                <div *ngIf="current_mode == 1" class="panel-body" style="min-height: 200px;">
                    <h3 style="text-align: center;">Ожидаем ход игрока</h3>
                    <span *ngIf="current_step.variants && current_step.variants.length > 0">Ему нужно сказать:</span> 
                    <div *ngFor="let item of current_step.variants">
                        <div class="well">
                            <p class="text-success">{{item.task}}</p>
                        </div>
                        <div class="well">
                            <p class="" style="margin: 5px 0;">{{item.phrase}}</p>
                        </div>

                         <h4 *ngIf="hasNextTurn(item) && !passed_turns.master" class="text-warning" style="text-align: center;">Ваш ход еще не был сделан</h4>


                        <button *ngIf="hasMyTurn()" class="btn btn-warning" type="button" (click)="myTurn()">Теперь мой ход</button>
                        <button *ngIf="hasNextTurn(item) || hasMyTurn(item)" class="btn btn-success pull-right" type="button" (click)="nextStep(item.next_step)">Следуюйщий шаг</button>

                        <h2 *ngIf="!hasPlayerTurn(item) && !hasMyTurn(item)" class="text-warning" style="text-align: center;">Это последний шаг диалога</h2>
                        <button *ngIf="!hasPlayerTurn(item) && item.prev_step > 0" class="btn btn-info" type="button" (click)="nextStep(item.prev_step)">Назад</button>
                        
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="open_change_dialog">
    <changecurrentdialog (close_dialog)="handlerCloseChangeCurrentDialog($event)" (selected_dialog)="handlerSelectDialog($event)"></changecurrentdialog>
</div>