{% extends "registration/base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}


<div class="row">
    <div class="container login">
        {% if form.errors %}
            <p class="alert alert-danger">Введенный email или пароль неверны. Попробуйте еще раз.</p>
        {% endif %}

        {% if error_message %}
            <p class="alert alert-danger">{{error_message}}</p>
        {% endif %}

        {% if success_message %}
            <p class="alert alert-success">{{success_message}}</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated and not user.is_confirm %}
            <div style="width: 500px;">

                
                <form class="openwind_form" action="/accounts/confirm/" method="POST">
                    {% csrf_token %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Ваш аккаунт не подтвержден. Требуется подтверждение Email.
                        </div>
                        <div class="panel-body">
                                <h3 style="color:white">{{message}}</h3>
                                <input name="email" class="form-control" id="email"  placeholder="E-mail *" type="email" value="{{email}}">

                                <p id="conf_email_error" style="color:white;">{{error}}</p>
                        </div>
                        <div class="panel-footer">
                            <button id="conf_submit" class="btn btn-primary" type="submit" style="margin-top:20px;">Выслать новое подтверждение</button>
                            <a href="/" class="btn btn-default"  style="margin-top:20px;">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
         {% endif %}

         {% if user.is_authenticated and user.is_confirm %}
            <a href="/" class="btn btn-primary"  style="margin-top:20px;">Перейти на сайт</a>
        {% endif %}

    </div>
</div>

{% endblock %}