{% extends "registration/base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<!--
<script id="allauth-facebook-settings" type="application/json">
{"cancelUrl": "https://freetest.discounter-club.ru/accounts/social/login/cancelled/", "loginByTokenUrl": "https://freetest.discounter-club.ru/accounts/facebook/login/token/", "version": "v2.4", "logoutUrl": "https://freetest.discounter-club.ru/accounts/logout/", "loginOptions": {"scope": "email,public_profile"}, "appId": "443802429318221", "locale": "ru_RU", "loginUrl": "https://freetest.discounter-club.ru/accounts/facebook/login/", "csrfToken": "I7A8wemhKFWc4vJxwYUocRRUBH2tL1LEnyChxJOkoOvZd1bjEZHhWYxjg5PsElG4", "errorUrl": "https://freetest.discounter-club.ru/accounts/social/login/error/"}
</script>
<script type="text/javascript" src="/static/facebook/js/fbconnect.js"></script>
-->

<div class="row">
    <div class="container login">
        {% if form.errors %}
        <p class="alert alert-danger">Введенный email или пароль неверны. Попробуйте еще раз.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% endif %}
        {% endif %}
        {% if not user.is_authenticated %}
        <form class="form-horizontal" method="post" action="{% url 'login' %}" style="width: 500px;margin: 10% auto;">
            {% csrf_token %}
            <h4 class="login__form-header"></h4>
            <div class="form-group">
                {{ form.username.label_tag }}
                <input autofocus="" id="id_username" maxlength="254" name="username" type="email" class="form-control login__input" required="" value="{{ form.username.value | default:"" }}" placeholder="pochta@pochta.com">
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                <input class="form-control login__input" id="id_password" name="password" type="password" required="" value="{{ form.password.value | default:"" }}">


                <div class="main-social" style="">
                    <div style="float: left;">
                        <a href="/accounts/registration/" style="font-size: 16px;">
                            <span style="margin-left: 10px;margin-top: 5px;">Регистрация</span>
                        </a>
                        <a href="/accounts/remember/" style="font-size: 11px;">
                            <span style="margin-left: 10px;margin-top: 5px;">Забыли пароль?</span>
                        </a>
                    </div>
                    <div style="float: right;">
                        <a href="javascript:openPopup('{% provider_login_url "vk" method="oauth"  %}');" style="display: flex;font-size: 16px;justify-content: flex-end;">
                            <span class="vk"></span> 
                            <span style="margin-left: 10px;margin-top: 5px;">Войти через VK</span>
                        </a>
                        <a href="{% provider_login_url "facebook" method="js_sdk" next="/" %}"
                          style="display: flex;font-size: 16px;justify-content: flex-end;">
                            <span class="fb"></span>
                            <span style="margin-left: 10px;margin-top: 5px;">Войти через Facebook</span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg login__submit" value="Войти" />
                <input type="hidden" name="next" value="/" />
            </div>
            <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
        </form>
        
         {% endif %}

    </div>
</div>

<script type="text/javascript">
    function openPopup(url, type) {
        var w = 700;
        var h = 500;
        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
        var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;
        var name = "Discounter";

        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        var left = ((width / 2) - (w / 2)) + dualScreenLeft;
        var top = ((height / 2) - (h / 2)) + dualScreenTop;
    
        var settings = 'height=' + h + ',width=' + w + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=yes,directories=no,status=yes';
        if (type=='fb') {
            url += "?next={% url 'login_popup_close' %}";
        } else {
            url += "&next={% url 'login_popup_close' %}";
        }
            
        var newWindow = window.open(url, name, settings);
        if (window.focus) {
            newWindow.focus();
        }
    }

</script>

{% endblock %}