<div class="row">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Выберите диалог
                    <button class="btn btn-default pull-right" style="margin-top: -10px;" (click)="showActiveDialogs()">
                        <i class="fa fa-refresh" aria-hidden="true" style="font-size: 20px;"></i>
                    </button>
                </h4>
            </div>
            <div class="panel-body" style="position: relative;">
                <!-- Loading -->
                <div *ngIf="loading" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index: 100;">
                    <div style="position: absolute;opacity: 0.5;width:100%;height:100%;background-color: white;">
                    </div>
                    <div style="width: 50px;margin: auto;margin-top: 160px;">
                        <i class="fa fa-spin fa-gear" style="font-size: 50px;"></i>
                    </div>
                </div>
                <!-- END Loading -->
                <div class="row" style="margin: 20px 0;display: flex;flex-wrap: wrap;"> 
                    <div class="list-group">
                        <div href="#" class="list-group-item" *ngFor="let item of activedialogs">
                            <h4 class="list-group-item-heading">{{item.user.fio}}</h4>
                            <div class="list-group-item-text">
                                <div class="media">
                                    <div class="media-left">
                                        <div *ngIf="item.user.avatar" 
                                            [ngStyle]="{'background-image': 'url(' + item.user.avatar + ')'}"
                                            class="media-object" style="
                                                height: 50px; 
                                                width: 50px; 
                                                background-size: cover;
                                                background-repeat: no-repeat;
                                                border-radius: 50%;
                                                margin: 10px;">
                                        </div>
                                        <div *ngIf="!item.user.avatar" 
                                            class="media-object" style="
                                                height: 50px; 
                                                width: 50px; 
                                                margin: 10px;">
                                                <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 50px;"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div style="display: flex;">
                                            <div style="flex: 1">
                                                <div>
                                                    <p *ngIf="item.user.age" style="margin: 0;font-size: 12px;">Возраст: {{item.user.age}}</p>
                                                    <p *ngIf="item.user.sex" style="margin: 0;font-size: 12px;">Пол: {{item.user.sex}}</p>
                                                </div>
                                                <div class="badge" style="background-color: indianred;">
                                                    {{item.user.level_display}}
                                                </div>
                                            </div>
                                            <div style="flex: 2">
                                                <div *ngIf="item.activedialogs.length == 0">
                                                    <p style="margin:0;">Пользователь онлайн, но не выбрал ни один диалог для звонка</p>
                                                    <p style="margin:0;color: brown;" *ngIf="item.user.skypeid">Попробуйте связаться с ним через скайп. Его скайп id: <span style="font-weight: 800;">{{item.user.skypeid}}</span></p>
                                                </div>
                                                <p *ngIf="item.activedialogs.length > 0">
                                                    В ожидание звонка {{item.activedialogs.length}} диалогов
                                                </p>
                                                <button *ngIf="item.activedialogs.length > 0" class="btn btn-info btn-xs" (click)="item.show_activedialogs = !item.show_activedialogs">
                                                    <span *ngIf="!item.show_activedialogs">Раскрыть</span>
                                                    <span *ngIf="item.show_activedialogs">Скрыть</span>
                                                </button>
                                                <div *ngIf="item.show_activedialogs" class="list-group" style="margin-top: 10px;">
                                                    <div *ngFor="let ad of item.activedialogs" class="list-group-item" style="display: flex;">
                                                        <div>
                                                            <button type="button" class="btn btn-warning btn-xs" style="margin: 10px;" (click)="callDialog(ad)">Позвонить</button>
                                                        </div>
                                                        <div style="display: flex;">
                                                            <div class="thumbnail" style="">
                                                                <div *ngIf="!ad.dialog.background_image" style="height: 50px; width: 50px; display: block;"></div>
                                                                <div *ngIf="ad.dialog.background_image" 
                                                                    [ngStyle]="{'background-image': 'url(' + ad.dialog.background_image + ')'}"
                                                                    style="
                                                                        height: 50px; 
                                                                        width: 50px; 
                                                                        background-size: cover;
                                                                        display: block;"></div>
                                                            </div>
                                                            <div style="margin-left: 10px;">
                                                                <p style="margin:0; font-weight: 800;">{{ad.dialog.name}}</p>
                                                                <p style="margin: 0;font-size: 12px;">{{ad.dialog.description}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

