<div class="row">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Выберите диалог</h4>
                <div style="display: inline-block;">
                    <div>
                        <div class="col-md-1">
                            <button class="btn btn-default" type="button" (click)="resetSearch()">Сбросить</button>
                        </div>
                        <div class="col-md-4">
                             <tags [items]="tags"
                                (typed)="searchTags($event)" 
                                (selected)="selectedTag($event)"
                                [clearaftereintput]="false"
                                [textbtn]="'Искать'"
                                [placeholder]="''"
                                [disabled]="show_inputed_dialogs"
                                (onChangeSearchValue)="onChangeSearchValue($event)"
                                [searchValue]="searchValue"
                                ></tags>
                        </div>
                        <div class="col-md-3">
                            <select name="frm_level" id="level" class="form-control" [(ngModel)]="selectedDialogLevel"(change)="changeLevel()" [disabled]="show_inputed_dialogs" style="background-color: white;">
                                <option *ngFor="let level of levels" [value]="level.id">{{level.title}}</option>
                            </select>
                        </div>
                        <div class="col-md-4" style="text-align: right;">
                            <p>Всего найдено {{count}} диалогов</p>
                        </div>
                    </div>


                    <div style="clear: both;display: flex;">
                        <div style="width: 20px;height: 20px;border: 2px solid darkcyan;border-radius: 4px;cursor: pointer;margin: 10px;" (click)="showInputDialogs()">
                            <div *ngIf="show_inputed_dialogs" style="width: 8px;height: 8px;background-color: darkcyan;border-radius: 4px;margin:4px;"></div>
                        </div>
                        <p style="margin: 10px 0 0 0;cursor: pointer;" (click)="showInputDialogs()">Показать только диалоги по которым я принимаю звонки</p>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="position: relative;">
                <!-- Loading -->
                <div *ngIf="loading" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index: 100;">
                    <div style="position: absolute;opacity: 0.5;width:100%;height:100%;background-color: white;">
                    </div>
                    <div style="width: 50px;margin: auto;margin-top: 160px;">
                        <i class="fa fa-spin fa-gear" style="font-size: 50px;"></i>
                    </div>
                </div>
                <!-- END Loading -->

                <div class="row" style="margin: 20px 0;display: flex;flex-wrap: wrap;"> 
                    <h4 *ngIf="dialogs.length == 0" style="text-align: center;width: 100%;">Диалоги не найдены</h4>
                    <div class="col-sm-6 col-md-4" *ngFor="let item of dialogs"> 
                        <div class="thumbnail"> 
                            <div class="" style="width: 100%;position: relative;">
                                <div>
                                    <div *ngIf="!item.background_image" 
                                        style="
                                            height: 60px; 
                                            width: 90px; 
                                            border: 1px solid #ccc;
                                            background-color: #ddd;
                                            ">
                                    </div>
                                    <div *ngIf="item.background_image" 
                                        [ngStyle]="{'background-image': 'url(' + item.background_image + ')'}"
                                        style="
                                            height: 60px; 
                                            width: 90px; 
                                            background-size: cover;
                                            display: block;"></div>
                                    <p style="font-size: 8px;margin:0;">Кол-во шагов: {{item.scenario.steps.length || 0}}</p> 
                                    <p style="font-size: 8px;margin:0;">Создано: {{item.owner.fio}}</p> 
                                </div>

                                <div style="position: absolute; right: 0;top:0;display: flex;align-items: center;flex-wrap: wrap;justify-content: flex-end;">
                                    
                                    <p  class="badge" [ngClass]="{
                                        'bg-color-begin': item.level == 10,
                                        'bg-color-preintermediate': item.level == 20,
                                        'bg-color-intermediate': item.level == 30
                                    }" style="margin: 5px;">{{item.level_display}}</p>
                                    
                                    <div style="margin-left: 5px;">
                                        <p style="font-size: 10px;width: 100%;text-align: right;margin: 0;">Принимать звонки?</p>
                                        <div style="width: 40px;height: 40px;border: 2px solid darkcyan;border-radius: 4px;cursor: pointer;margin: auto;" (click)="turnActiveDialog(item)">
                                            <div *ngIf="item.checked" style="width: 28px;height: 28px;background-color: darkcyan;border-radius: 4px;margin:4px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align: right;">
                                    <p class="badge badge-info" style="margin:5px;background-color: darkcyan;" *ngFor="let item of item.tags">{{item.name}}</p>
                                </div>
                            </div>
                            <div class="caption" style="clear:both;"> 
                                
                                <h3 style="margin:0;">{{item.name}}</h3> 
                                <p>{{item.description}}</p> 
                                <p><!--
                                    <button class="btn btn-primary" (click)="runDialog(item)">
                                        Запустить диалог и ждать собеседника
                                    </button> 
                                -->
                                    <button class="btn btn-success btn-xs" [routerLink]="['/dialogue', item.id]">
                                        Просмотреть
                                    </button> 
                                </p> 
                            </div> 
                        </div> 
                    </div> 
                    <div style="width: 100%; text-align: center;">
                        <nav>
                            
                            <ul class="pager">
                                <li *ngIf="previous"><button type="button" class="btn btn-default" (click)="prevPage()">Предыдущие</button></li>
                                <li *ngIf="next"><button type="button" class="btn btn-default" (click)="nextPage()">Следующие</button></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

