<div class="row">
    <div class="container">
        <div class="panel panel-default">
             <div class="panel-heading">
                <div class="container">
                    <div class="col-md-6" style="display: flex;">
                        <div style="line-height: 2;">Выбор персонажа</div>
                        <select class="form-control" [(ngModel)]="selectedPersonage" style="margin-left: 20px;width: 150px;" (ngModelChange)="onChangePersonage()">
                            <option *ngFor="let pesonage of personages" [value]="pesonage.role">{{pesonage.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6" style="text-align: right;">
                        <p style="margin: 0 40px;">{{dialog?.name}}</p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div *ngIf="dialog && dialog.scenario" class="panel panel-primary">
                    <div class="panel-heading">
                        Текущий шаг: {{current_step.number}} / {{dialog.scenario.steps.length}}
                    </div>
                    <div class="panel-body" style="min-height: 200px;">
                        <div class="col-md-8">
                            <span *ngIf="getTask().length > 0">Вам нужно сказать:</span> 
                            <div *ngFor="let item of getTask()">
                                <h4 class="text-success">{{item.task}}</h4>

                                <button *ngIf="item.prev_step > 0" class="btn btn-info" type="button" (click)="nextStep(item.prev_step)">Назад</button>
                                <button *ngIf="item.next_step > 0" class="btn btn-success" type="button" (click)="nextStep(item.next_step)">Следуюйщий шаг</button>
                            
                                <div style="margin-top:40px">
                                    <button *ngIf="!item.words || (item.words && item.words.length == 0)" class="btn btn-info btn-xs" type="button" (click)="getWords(item)">Посмотреть слова</button>
                                     <button *ngIf="item.words && item.words.length > 0" class="btn btn-info btn-xs" type="button" (click)="clearWords(item)">Скрыть слова</button>
                                    <button *ngIf="!item.hints"  class="btn btn-default btn-xs" type="button" (click)="getHints(item)">Посмотреть подсказку</button>
                                    <button *ngIf="item.hints" class="btn btn-default btn-xs" type="button" (click)="clearHints(item)">Убрать подсказку</button>
                                </div>

                                <div *ngIf="item.words && item.words.length > 0" style="margin-top:20px;display: flex;justify-content: center;flex-wrap: wrap;">
                                    <span *ngFor="let item of item.words" class="label label-success" style="margin: 10px;padding: 10px;font-size: 16px;">{{item}}</span>
                                </div>
                                <div *ngIf="item.hints" style="margin-top:20px;">
                                    <p class="alert alert-success" style="margin: 5px 0;">
                                        {{item.hints}}
                                    </p>
                                    
                                </div>
                            </div> 
                            <p *ngIf="getTask().length == 0">Последний шаг диалога</p>
                        </div>
                        <div class="col-md-4">
                            <div *ngIf="dialog.background_image" 
                                    [ngStyle]="{'background-image': 'url(' + dialog.background_image + ')'}"
                                    style="width: 100%;height: 200px;background-size: cover;" class="img-thumbnail"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>