<nav class="navbar navbar-default top-nav-collapse" style="border-radius: 0px;">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="margin-left: 0;">Ди<span class="logo-dec">алоги</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li [ngClass]="{'active': activeRoute('/mydialogues')}">
            <a [routerLink]="['/mydialogues']">Мои диалоги</a>
        </li>
        <li [ngClass]="{'active': activeRoute('/dialogues')}">
            <a [routerLink]="['/dialogues']">Все диалоги</a>
        </li>
        <li [ngClass]="{'active': activeRoute('/activedialogues')}">
            <a [routerLink]="['/activedialogues']">Диалоги в ожидание ученика</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Настройки<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/profile']" >Профиль</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/accounts/logout/?next=/" target="_self">Выход</a></li>
              </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-12">
        <div class="col-md-10" style="margin: 0 0 10px 0;">
            <bSwitch [switch-size]="'small'" [switch-animate]="true" [(ngModel)]="state_input_call" (onChangeState)="onChangeInputCall($event)" [switch-off-text]="'Выкл'"
              [switch-on-text]="'Вкл'"></bSwitch>
            <span style="color:beige;margin-left: 18px;">Принимать входящие звонки</span>
        </div>
        <div class="col-md-2" style="text-align: right;color:white;">{{user?.fio}}</div>
    </div>
  </div>
</nav>

<div *ngIf="server_error" style="position: absolute;top:0;left:0;height: 100%;width: 100%;z-index: 100;">
    <div style="position: fixed;opacity: 0.7;width:100%;height:200%;background-color: white;"></div>
    <div style="position: relative;margin: auto;margin-top: 160px;text-align: center;color: darkred;">
        <h1>Опс... не могу получить доступ к серверу</h1>
        <h4>Работа сайта возобновится после восстановления доступа к серверу</h4>
    </div>
</div>

<div *ngIf="errors.length > 0" style="position:absolute;width:100%;top:0;right:0;z-index:1000;">
    <div *ngFor="let error of errors;let i=index" class="alert alert-danger" style="margin: 0 0 5px 0;max-height: 300px;overflow-y: auto;">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button" (click)="removeError(i)" style="margin-top:-10px;margin-right: -10px;">×</button>
        <span *ngIf="error?.host" style="font-weight: 800;">Host: {{error?.host}}</span> 
        <span  *ngIf="error?.message"><pre>Описание: {{error?.message}} </pre></span>
        <span  *ngIf="error?.rc">Код rc: {{error?.rc}}</span>
    </div>
</div>

<div *ngIf="messages.length > 0" style="position:absolute;width:100%;top:0;right:0;z-index:1000;">
    <div *ngFor="let message of messages;let i=index" class="alert alert-success" style="margin: 0 0 5px 0;max-height: 300px;overflow-y: auto;">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button" (click)="removeMessage(i)" style="margin-top:-10px;margin-right: -10px;">×</button>
        <span *ngIf="message?.host" style="font-weight: 800;">Host: {{message?.host}}</span> 
        <span  *ngIf="message?.message"><pre>Описание: {{message?.message}} </pre></span>
        <span  *ngIf="message?.rc">Код rc: {{message?.rc}}</span>
    </div>
</div>

