<nav class="navbar navbar-default top-nav-collapse" style="border-radius: 0px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ba<span class="logo-dec">ker</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#main-header">Home</a></li>
        <li class=""><a href="#feature">About</a></li>
        <li class=""><a href="#service">Services</a></li>
        <li class=""><a href="#portfolio">Portfolio</a></li>
        <li class=""><a href="#testimonial">Testimonial</a></li>
        <li class=""><a href="#blog">Blog</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user?.fio}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/accounts/logout/?next=/" target="_self">Выход</a></li>
              </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>