 <div class="panel panel-default">
     <div class="panel-heading">
        <div class="container">
            <div class="col-md-6">
                <h4>Диалог: 
                    <span *ngIf="activedialog">{{activedialog.dialog?.name}}</span>
                    <span *ngIf="!activedialog">загружается</span>
                </h4>
                <p>Роль: ведущий</p>
                <p *ngIf="status_activedialog=='run'"  style="font-size: 16px;color:green;font-weight: 400;margin:0;">Диалог запущен</p>
                <p *ngIf="status_activedialog=='starting'" style="font-size: 16px;color:blue;font-weight: 400;margin:0;">Устанавливаем диалог</p>
                <p *ngIf="status_activedialog=='stop'"  style="font-size: 16px;color:red;font-weight: 400;margin:0;">Диалог остановлен связи с партнером нет</p>

                <p *ngIf="status_voice_connection =='run'"  style="font-size: 16px;color:green;font-weight: 400;margin:0;">Голосовая связь установлена</p>
                <p *ngIf="status_voice_connection=='stop'" style="font-size: 16px;color:red;font-weight: 400;margin:0;">Голосовая cвязь с партнером остановлена</p>
                <p *ngIf="status_voice_connection=='starting'" style="font-size: 16px;color:blue;font-weight: 400;margin:0;">Устанавливаем голосовую связь</p>
                <p *ngIf="status_activedialog=='error_connection'" style="font-size: 16px;color:red;font-weight: 400;margin:0;">Ошибка установки связи</p>
                <p *ngIf="connection_error_message" style="font-size: 12px;color:red;">{{connection_error_message}}</p>
                <p *ngIf="status_voice_connection=='error_connection' && activedialog.pupil.skypeid" style="font-size: 14px;color:darkcyan;">
                    Попробуйте установить связь через скайп (скайп id собеседника {{activedialog.pupil.skypeid}})
                </p>
                <p *ngIf="status_voice_connection=='error_connection' && !activedialog.pupil.skypeid" style="font-size: 14px;color:darkcyan;">
                    Попробуйте связаться через другие программы например скайп
                </p>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <p *ngIf="personageName" style="margin: 0 40px;">Персонаж: {{personageName}}</p>
                <p *ngIf="during_conversation" style="margin: 0 40px;font-size: 8px;">{{displayTime(during_conversation)}}</p>
                <button  *ngIf="status_voice_connection == 'run'" class="btn btn-warning" (click)="hangPhone()" style="margin-right: 25px;margin-top: 10px;">
                    <i class="fa fa-microphone-slash" aria-hidden="true" style="margin-right: 10px;"></i><span>Сбросить голосовую связь</span>
                </button>
                <!--
                <button  *ngIf="status_voice_connection != 'run'" class="btn btn-info" (click)="callPhone()" style="margin-right: 25px;margin-top: 10px;">
                    <i class="fa fa-microphone" aria-hidden="true" style="margin-right: 10px;"></i><span>Попытаться установить голосовую связь</span>
                </button>
            -->
            </div>
        </div>
    </div>
    <div class="panel-body" style="min-height: 500px;">
        <div [hidden]="status_activedialog != 'run'" class="row">
            <div style="display: flex;justify-content: flex-start;">
                <div style="display: flex;opacity: 0;height: 0;">
                    <div style="margin: 5px;">
                        <video #remoteVideo autoplay="" style="border:2px solid red;width: 100px;"></video>
                        <p style="font-size: 8px;margin-top: -5px;">Remote</p>
                    </div>
                    <div style="margin: 5px;">
                        <video #localVideo muted="true" autoplay="" style="border:2px solid green;width: 100px;"></video>
                        <p style="font-size: 8px;margin-top: -5px;">Local</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="activedialog">
            <playerdialogmaster [user]="user" [activedialog]="activedialog" (changeactivedialog)="handlerChangeActiveDialog($event)"></playerdialogmaster>
        </div>
        
    </div>
    <div class="panel-footer">
        <div>
            <button class="btn btn-warning" (click)="exitDialog()"><span>Выход из режима диалога</span></button>
        </div>
    </div>
</div>