<div class="container" *ngIf="mode == 'wait'">
    <div class="row">
        <div *ngIf="activedialog" class="panel panel-default" style="margin:40px;">
             <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Входящий звонок от ученика...</h4>
                    </div>
                    <div class="col-md-6" style="text-align: right;">
                        <p style="margin: 0 20px;">Имя диалога: {{activedialog.dialog.name}}
                            <i *ngIf="audio_enable" class="fa fa-volume-up" aria-hidden="true" style="font-size: 30px;margin-left:20px;cursor:pointer;" (click)="audio_enable=!audio_enable"></i>
                            <i *ngIf="!audio_enable" class="fa fa-volume-off" aria-hidden="true" style="font-size: 30px;margin-left:20px;cursor:pointer;"  (click)="audio_enable=!audio_enable"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- <p>Запущен {{activedialog.created_at | date:"hh:mm dd-mm-yyyy"}}</p> -->
                <p *ngIf="callingfroms.length > 0">Входящие звонки</p>
                <callingfroms [listin]="callingfroms" (rejectfrom)="handlerRejectfrom($event)" (takecall)="handlerTakeCall($event)"></callingfroms>
                <div style="margin-top: 30px">
                    <button class="btn btn-warning" (click)="stopWaitCallDialog()"><span>Отмена</span></button>
                </div>
            </div>
        </div>
        <div *ngIf="!activedialog" style="width: 100%;height: 100%;">
            <h4 style="text-align: center;margin-top: 30px;">Подготовка к получения входящего звонока от ученика...</h4>
            <img src="/static/assets/images/progress.gif" style="display: block;width: 100px;margin: 40px auto;">
        </div>
    </div>
</div>

<div class="container" *ngIf="mode == 'mode_dialog_master'">
    <div class="row">
        <modedialogmaster [activedialogid]="activedialog.id" (stopdialog)="handlerStopDialog($event)"></modedialogmaster>
    </div>
</div>
